form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  