<div class="add-product">
    <h2>Adicionar Produto</h2>
    <form [formGroup]="productForm" class="form" (ngSubmit)="onSubmit()">

      <div class="divInput">
        <label for="name">Nome:</label>
        <input id="name" formControlName="name" type="text" />
        <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
          <small>O nome é obrigatório.</small>
        </div>
      </div>
  
      <div class="divInput">
        <label for="price">Preço:</label>
        <input id="price" formControlName="price" type="number" />
        <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
          <small>O preço deve ser maior ou igual a 0.</small>
        </div>
      </div>
  
      <div class="divInput" >
        <label for="quantity">Quantidade:</label>
        <input id="quantity" formControlName="quantity" type="number" />
        <div *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched">
          <small>A quantidade deve ser maior ou igual a 0.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="productForm.invalid">Salvar</button>
    </form>
  </div>
  