<div class="product-list">
  <h2>Itens em estoque</h2>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price | number:'1.2-2' }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button class="editButton" (click)="editProduct(product)">Editar</button>
          <button class="deleteButton" (click)="deleteProduct(product.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
<div class="divAddButton">
  <button class="addButton" (click)="addProduct()">Adicionar Produto</button>
</div>
  <div class="divLowStock">
    <app-low-stock-alert [lowStockProducts]="lowStockProducts"></app-low-stock-alert>
  </div>
</div>
